<nz-card style="width:300px;">
  <ng-template #title>
    Card title
  </ng-template>
  <ng-template #extra>
    <a>More</a>
  </ng-template>
  <ng-template #body>
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </ng-template>
</nz-card>

<nz-card style="width:300px;">
  <ng-template #body>
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </ng-template>
</nz-card>
<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-card>
        <ng-template #title>
          Card title
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card>
        <ng-template #title>
          Card title
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card>
        <ng-template #title>
          Card title
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>
  </div>

</div>
